<!DOCTYPE html>
<html>
	<head>
		<title>
			newsong page
		</title>
	</head>
	
	<body>
		
		<h2>Song Details</h2>
		<form action="addsong" method="post">
			<label>SongName:</label>
			<input type="text" placeholder="enter song name" name="name">
			<br/>
			<br/>
			<label>Artist:</label>
			<input type="text" placeholder="enter artist name" name="artist">
			<br/>
			<br/>
			<label>Genre</label>
			<input type="text" placeholder="enter genre of song" name="genre">
			<br/>
			<br/>
			<label>SongLink</label>
			<input type="text" placeholder="enter song link" name="link">
			<br>
			<br>
			<input type="submit" value="add-song">
			</form>
	</body>
</html>